@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: black;
  color: white;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'SF Pro Display', sans-serif;
}
