.marquee {
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marqueeContent {
  display: flex;
  white-space: nowrap;
}

.marqueeLeft .marqueeContent {
  animation: marquee-left 40s linear infinite;
}

.marqueeRight .marqueeContent {
  animation: marquee-right 40s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-60%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0%);
  }
}
